@import "../../../../sass/base/variables";
@import "../../../../sass/base/mixins";

@media screen and (min-width: 601px) {
  .gallery__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .heading {
    @include desktop-layout-heading;
    & h2 {
      margin: 1rem;
      text-transform: uppercase;
      font-size: 3.5rem;
      color: $gold-color;
    }
    & p {
      @include desktop-layout-subheading;
    }
  }
  .button {
    border: 2px solid $gold-color;
    background: transparent;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    text-transform: uppercase;
    font-weight: 500;
    height: 3.2rem;
    width: 20rem;
    margin: 0 0 2rem;
    &:hover {
      cursor: pointer;
      background: $gold-color;
      color: #fff;
    }
  }
}

@media screen and (max-width: 600px) {
  .gallery__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .heading {
    @include mobile-heading;
    text-align: center;
    & h2 {
      @include mobile-header-h2;
    }
    & p {
      @include sub-header-mobile;
    }
  }

  .button {
    border: 1px solid $gold-color;
    background: transparent;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    text-transform: uppercase;
    font-weight: 500;
    height: 3.2rem;
    width: 15rem;
    margin: 0 0 2rem;
    &:hover {
      cursor: pointer;
      background: $gold-color;
      color: #fff;
    }
  }
}
