@media screen and (min-width: 900px) {
  .gallery__section--desktop {
    @include desktop-layout-column;

    &--heading {
      @include desktop-layout-heading;

      & h2 {
        margin: 1rem;
        text-transform: uppercase;
        font-size: 3.5rem;
        color: $gold-color;
      }
    }

    &--inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      &--center {
        @include desktop-layout-center;

        & h1 {
          @include sub-header;
        }
        & hr {
          @include hr-gold-desktop;
        }
        & img {
          @include image-large-wide;
        }
      }
    }
    &--images {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      -webkit-column-gap: 2rem;
      column-gap: 2rem;
      row-gap: 2rem;

      & img {
        -o-object-fit: cover;
        object-fit: cover;
        height: 40vh;
        width: 25vw;
      }
    }
  }
}
