@import "../../../../sass/base/variables";
@import "../../../../sass/base/mixins";

@media screen and (min-width: 601px) {
  .service__menu {
    width: 103vw;
    height: auto;
    background: #fff;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    transform: translate(35%, 60%);
    box-shadow: 0 4px 10px -10px darken(#fff, 30%);
    padding: 0 16rem;
  }
  .sm__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    height: auto;
  }
  .sm__li {
    margin: 0.5rem 0;
    transition: all 0.2s ease;
    padding: 0.5rem 2rem;
    list-style: none;
    text-decoration: none;
    color: $dark-color;
    font-size: 1.2rem;
    font-family: "Cormorant Garamond";
    &:hover {
      color: $gold-color;
      cursor: pointer;
    }
  }
  .fadeInMenu {
    animation: fadeIn 0.3s ease-in-out;
  }
}
