.success-msg{
    display:flex;
    flex-direction:row;
    width:100vw;
    height:10vh;
    justify-content:center;
    align-items:center;
    color: #fff;
    background: lighten($gold-color, 10%);
    border: 2px solid $gold-color;
}
.error-msg{
    display:flex;
    flex-direction:row;
    width:100vw;
    height:10vh;
    justify-content:center;
    align-items:center;
    color: #fff;
    background: lighten(red, 10%);
    border: 2px solid red;
}