.header__section--location {
	background: url('https://res.cloudinary.com/snackmanproductions/image/upload/v1568248627/italianobros/contact/contact-header_mntiyk.jpg');
	@include mobile-header;
}

.address__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 2rem;

	&--address-column {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-pack: distribute;
		justify-content: space-around;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		margin: 1rem 0;
		color: $dark-color;

		& h3 {
			color: $dark-color;
			margin: 1rem;
		}
		& hr {
			@include hr-gold;
		}
		& p {
			margin: 1rem;
			font-size: 1.25rem;
			& a {
				color: $gold-color;
				text-decoration: none;
				transition: all 0.3s ease-in-out;
				&:hover {
					cursor: pointer;
					border-bottom: 1px solid $gold-color;
				}
			}
		}
	}
}
