@import "../../../../sass/base/variables";
@import "../../../../sass/base/mixins";

@media screen and (min-width: 601px) {
  .address__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .address__container {
    @include desktop-layout-column;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin: 4rem;
  }

  .address__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 1rem 0;
    color: $dark-color;
    width: 25vw;
    & h3 {
      color: $dark-color;
      margin: 1rem;
      font-size: 2rem;
    }
    & hr {
      @include hr-gold;
    }
    & p {
      margin: 1rem;
      font-size: 1.2rem;
      & a {
        color: $gold-color;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        &:hover {
          cursor: pointer;
          border-bottom: 1px solid $gold-color;
        }
      }
    }
  }

  .heading {
    @include desktop-layout-heading;

    & h2 {
      margin: 1rem;
      text-transform: uppercase;
      font-size: 3.5rem;
      color: $gold-color;
    }
    & p {
      @include desktop-layout-subheading;
    }
  }
}

@media screen and (max-width: 600px) {
  .address__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .address__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2rem;
  }
  .address__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 1rem 0;
    color: $dark-color;

    & h3 {
      color: $dark-color;
      margin: 1rem;
    }
    & hr {
      @include hr-gold;
    }
    & p {
      margin: 1rem;
      font-size: 1.25rem;
      & a {
        color: $gold-color;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        &:hover {
          cursor: pointer;
          border-bottom: 1px solid $gold-color;
        }
      }
    }
  }
  .heading {
    @include mobile-heading;
    text-align: center;
    & h2 {
      @include mobile-header-h2;
    }
    & p {
      @include sub-header-mobile;
    }
  }
}
