
	.header__section {
		background: url('https://res.cloudinary.com/snackmanproductions/image/upload/v1568246178/italianobros/home/main_header_pci4iq.jpg');
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		@include mobile-main-header;
		position: relative;

		&--overlay {
			position: absolute;
			top: 0;
			left: 0;
			background: #000;
			opacity: 0.3;
			height: 100%;
			width: 100%;
			z-index: 1;
		}

		&--hero-box {
			z-index: 2;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-transform: translateY(10vh);
			transform: translateY(10vh);

			& h1 {
				font-size: 2rem;
				font-weight: 600;
				color: #fff;
				padding: 1rem;
			}

			& hr {
				height: 0;
				border: 1.6px solid $gold-color;
				width: 8rem;
			}
		}
		&--slogan {
			margin: 1rem;

			& p {
				color: #fff;
				font-size: 1.8rem;
			}
		}
	}

	.btn__main--gold {
		border: 0;
		background: $gold-color;
		color: #fff;
		text-transform: uppercase;
		font-size: 1rem;
		-webkit-transition: all 0.2s linear;
		transition: all 0.2s linear;
		margin: 1rem;
		height: 3.2rem;
		width: 14rem;

		&:hover {
			cursor: pointer;
			background: darken($gold-color, 10%);
		}
	}

