.servicesList__section--item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 2rem;
	margin: 3rem 1rem;
	& .image__background {
		background: transparent;
		position: relative;
		height: 8rem;
		width: 75vw;
		margin: 6rem 2rem;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		&--container {
			-ms-flex-item-align: center;
			align-self: center;
			height: 20rem;
			width: 95vw;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: flex-start;
			overflow-x: scroll;
			overflow-y: hidden;
			position: absolute;
			top: -7rem;
			scroll-snap-type: x mandatory;
			scroll-snap-type-x: mandatory;
			scroll-snap-type: mandatory;
			scroll-snap-points-x: repeat(25rem);
			scroll-snap-destination: 0 0;
			&::-webkit-scrollbar {
				display: none;
			}
			&::-webkit-scrollbar-track {
				-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
				height: 0.5rem;
			}
			&::-webkit-scrollbar-thumb {
				background-color: rgba(0, 0, 0, 0.5);
				outline: 0.5px solid slategray;
			}
		}
		& .image__container {
			margin: 0 4rem 0 0;
			width: 22rem;
			height: 10rem;
			scroll-behavior: smooth;
			scroll-snap-points-x: repeat(27rem);
			scroll-snap-align: center;
			scroll-padding: 2rem;
			scroll-snap-stop: always;
			&--image {
				width: 22rem;
				height: 22rem;
			}
		}
	}

	&--heading {
		width: 100%;
		padding: 0 1rem;
		& h3 {
			color: $dark-color;
			margin: 1rem 0;
		}
		& hr {
			@include hr-gold;
		}
	}
}

//fix for microsoft edge
div.servicesList__section--item--heading {
	display: flex;
	flex-direction: column;
}
