@import "../../../../sass/base/variables";
@import "../../../../sass/base/mixins";

@media screen and (min-width: 601px) {
  .header__section {
    background: url("https://res.cloudinary.com/snackmanproductions/image/upload/v1568248775/italianobros/services/services-header_jpza6t.jpg");
    @include mobile-header;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .header__section {
    background: url("https://res.cloudinary.com/snackmanproductions/image/upload/v1568248775/italianobros/services/services-header_jpza6t.jpg");
    @include mobile-header;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 2rem;
  }
}
