@import "../../../sass/base/variables";
@import "../../../sass/base/mixins";

@media screen and (min-width: 601px) {
  
  .desktop__heading {
    font-size: 4rem;
    font-weight: 500;
    margin: 0 0 2rem 0;
    color: #fff;
    max-width: 100rem;
  }

  .desktop__button {
    border: 0;
    background: $gold-color;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    margin: 1rem;
    height: 3.2rem;
    width: 14rem;
    &:hover {
      cursor: pointer;
      background: darken($gold-color, 10%);
    }
  }
}
