@import "../../../sass/base/variables";
@import "../../../sass/base/mixins";

@media screen and (min-width: 601px) {
  .desktop {
    background: url("https://res.cloudinary.com/snackmanproductions/image/upload/v1568246178/italianobros/home/main_header_pci4iq.jpg")
      center center fixed;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    @include desktop-main-header;
  }
  .herobox {
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    transform: translateY(5vh);
    z-index: 2;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  .heading {
    font-size: 4rem;
    font-weight: 500;
    margin: 0 0 2rem 0;
    color: #fff;
    max-width: 100rem;
  }

  .button {
    border: 0;
    background: $gold-color;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    margin: 1rem;
    height: 3.2rem;
    width: 14rem;
    &:hover {
      cursor: pointer;
      background: darken($gold-color, 10%);
    }
  }
}
