@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond|Work+Sans");
@-webkit-keyframes fadeInMobileNav {
  0% {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh); }
  100% {
    -webkit-transform: translateY(0vh);
    transform: translateY(0vh); } }

@keyframes fadeInMobileNav {
  0% {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh); }
  100% {
    -webkit-transform: translateY(0vh);
    transform: translateY(0vh); } }

@-webkit-keyframes fadeOutMobileNav {
  0% {
    -webkit-transform: translateY(0vh);
    transform: translateY(0vh); }
  100% {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh); } }

@keyframes fadeOutMobileNav {
  0% {
    -webkit-transform: translateY(0vh);
    transform: translateY(0vh); }
  100% {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh); } }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes loader-dots {
  0% {
    opacity: 0.5;
    background: #fff; }
  50% {
    opacity: 0.5;
    background: #eee; }
  100% {
    opacity: 1;
    background: #CEB862; } }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  font-size: 80%;
  letter-spacing: 1.3px;
  font-family: "Cormorant Garamond", serif;
  padding: 0;
  animation: fadeIn 1s ease-in-out; }

p {
  font-family: "Work Sans"; }

h1 {
  font-size: 2.6rem;
  font-weight: 600; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.5rem; }

body {
  overflow-x: hidden;
  scroll-behavior: smooth; }

body::-webkit-scrollbar {
  width: 0.5em; }

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

body::-webkit-scrollbar-thumb {
  background-color: darkgray;
  outline: 1px solid slategray; }

button {
  font-family: "Work Sans", serif;
  min-width: 25remrem;
  color: #707070;
  text-transform: uppercase; }
  button:focus {
    outline: none; }
