@import "../../../../sass/base/variables";
@import "../../../../sass/base/mixins";

@media screen and (min-width: 601px) {
  .image__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 0.5rem;
    justify-items: center;
    align-content: center;
    margin: 2rem;
  }
  .grid__item {
    padding: 0;
  }
  .grid__image {
    height: 35rem;
    width: 30rem;
    object-fit: cover;
    animation: fadeIn 0.5s ease-in-out;
  }
}

@media screen and (max-width: 600px) {
  .image__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    justify-items: center;
    align-content: center;
    margin: 2rem 0;
  }
  .grid__item {
    padding: 0 1rem;
  }
  .grid__image {
    @include image;
    animation: fadeIn 0.5s ease-in-out;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
