@import "../../../../sass/base/variables";
@import "../../../../sass/base/mixins";

@media screen and (min-width: 601px) {
  .hidden {
    @include hidden;
  }
  .nb__dt__top__tier {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #fff;
    position: absolute;
    width: 100%;
    height:30rem;
    transform: translateY(8vh);
  }
  .nb__dt__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    flex:1;
  }
  .nb__dt__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    width: 50%;
  }
  .nb__dt__h2 {
    font-size: 2.5rem;
    color: $dark-color;
    margin: 0.8rem;
  }
  .nb__dt__hr {
    @include hr-gold-desktop;
  }

  .nb__dt__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: center;
    height: 100%;
    flex:1;
    background: darken($gold-color, 10%);
  }
  .cf__dt {
    padding: 6rem 8rem;
  }
  .cf__dt__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2rem;
  }
  .cf__dt__form__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .cf__dt__form__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .cf__dt__button {
    -ms-flex-item-align: end;
    align-self: flex-end;
    color: $gold-color;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    background: #fff;
    text-transform: uppercase;
    border: 1px solid $gold-color;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    height: 3.2rem;
    width: 14rem;

    &:hover {
      cursor: pointer;
      -webkit-box-shadow: 0 3px 3px darken($gold-color, 20%);
      box-shadow: 0 3px 3px darken($gold-color, 20%);
    }
  }
  .cf__input__column {
    margin: 1rem 0;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .cf__dt__label {
    text-transform: uppercase;
    margin: 0.5rem 0;
  }
  .cf__dt__input {
    background: darken($gold-color, 10%);
    color: #fff;
    border: 0;
    border-bottom: 1px solid $gold-color;
  }
  .cf__dt__input::-webkit-input-placeholder {
    color: #fff;
    font-family: "Cormorant Garamond";
    font-weight: 300;
  }
  .cf__dt__input:-ms-input-placeholder {
    color: #fff;
    font-family: "Cormorant Garamond";
    font-weight: 300;
  }
  .cf__dt__input::-ms-input-placeholder {
    color: #fff;
    font-family: "Cormorant Garamond";
    font-weight: 300;
  }
  .cf__dt__input::placeholder {
    color: #fff;
    font-family: "Cormorant Garamond";
    font-weight: 300;
  }
  .cf__dt__input:focus {
    outline: none;
  }
  .cf__dt__input:-webkit-autofill,
  .cf__dt__input:-webkit-autofill:hover,
  .cf__dt__input:-webkit-autofill:focus,
  .cf__dt__input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px darken($gold-color, 10%) inset !important;
    -webkit-text-fill-color: #fff !important;
    padding: 0;
  }

}
